{{- template "base" . -}}

{{- define "content" }}
  <span id="words">
    <h4>celediel</h4>
    <span id="bigwords">
      {{ index .StringMap "about" }}
    </span>

    <!-- personal links -->
    <h4>links</h4>
    {{ range (index .LinkMap "Personal") }}
    <a href="{{ .Href }}">
      <span class="iconify" data-icon="{{ .Icon }}"></span>
      {{ .Text }}
    </a><br />
    {{ end }}

    <!-- web app links -->
    <h4>hosted apps</h4>
    {{ range (index .LinkMap "HostedApps") }}
    <a href="{{ .Href }}">
      <span class="iconify" data-icon="{{ .Icon }}"></span>
      {{ .Text }}
    </a><br />
    {{ end }}
    <br />
    <a href="/">back</a>
  </span>
{{ end -}}

{{- define "js" }}
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
{{ end -}}
