{{- template "base" . -}}

{{- define "content" }}
  <img src="static/img/moemoe.png" class="logo">
  <div id="header">
      <!-- <h1>燃え 萌え</h1> -->
      <h2>burning.moe</h2>
  </div>
  <a href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=22647957">
      <img src="static/img/burningmoe.jpg" class="logo" />
  </a>
  <br />
  <span id="words">
    {{ range (index .LinkMap "Pages")}}
    <a href="{{ .Href }}">{{ .Text }}</a><br />
    {{ end }}
  </span>
{{ end -}}
