{{- template "base" . -}}
{{- define "content" }}
  <span id="bigwords">
    {{ index .StringMap "words" }}
  </span>
  <span id="words">
    {{- range $key, $value := .LinkMap }}
    <h4>{{ $key }}</h4>
      {{- range $value }}
      <a href="{{ .Href }}" class="links">
        {{- if (ne .Icon "") }}
        <span class="iconify" data-icon="{{ .Icon }}"></span>
        {{ end }}
        {{- .Text }}
      </a><br />
    {{- end }}
    {{ end -}}
    <br />
    <a href="/" id="back">
      <span class="iconify" data-icon="material-symbols:keyboard-arrow-left"></span>
      back
    </a>
  </span>
{{ end -}}

{{- define "js" }}
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
{{ end -}}
